@font-face {
  font-family: "HelveticaNeueCyr";

  src: url("../fonts/Helvetica-Neue.ttf") format("ttf");
}

@font-face {
  font-family: "Helvetica";

  src: url("../fonts/Helvetica.otf") format("otf");
}
